html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
}

.container {
  margin: 25px;  
}

header, nav, nav ul, .aside-article-container, .aside-container, .aside-one, .aside-two, .main-content {
  display: flex;
  flex-direction: column;  
}

header {  
  align-items: center;
  width: 100%;   
}
header p {
  font-size: x-large;
  margin-bottom: 30px;
}

header nav {
  width: 100%;  
  justify-content: flex-start;
  background-color: black;
  border-radius: 25px; 
  color: white; 
}

nav ul {
  margin: 10px 0;
  padding-left: 20px;
  flex-direction: row;
}

header nav ul li {  
  margin-right: 15px;
  list-style: none;
  border-left: 1px solid white;  
  padding-left: 4px;
}

article h1 {
  font-size: 27px;
}

footer {
  text-align: center;
}

@media (min-width: 700px) {
  .aside-container {
    flex-direction: row;
    justify-content: center;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {  
  .aside-article-container {
    flex-direction: row;    
  }
  
  .aside-container {
    flex-direction: column;
    max-width: 30%;
    align-self: flex-start;            
  } 

  .main-content{
    flex-basis: 70%;
    padding: 15px; 
  }
}

