* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('imgs/memes-fundo-2.webp');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-position: center bottom;
}

header {
  text-align: center;
  margin-bottom: 30px;
  padding: 20px;
  background-color: chartreuse;
  border-radius: 0 0 10px 10px;
}

#meme-image-container {
  width: 400px;
  height: 350px;
  border: 1px solid black;
  position: relative;
  background-color: white;
  margin-left: 80px;
  display: inline-block;
}

#input-container input {
  margin-left: 7px;
}

#meme-insert {
  color: white;
}

#input-container {
  text-align: center;
  margin-left: 60px;
  padding: 5px;
}

#meme-text {
  position: absolute;
  word-wrap: break-word;
  text-align: center;
  color: white;
  font-size: 30px;
  top: 270px;
  left: 15px;
  margin-right: 15px;
  text-shadow: 5px 5px 5px black;
}

#meme-image , #meme-1 , #meme-2 , #meme-3 , #meme-4 {
  width: 100%;
  height: 100%;
}

#fire {
  border: 3px dashed red;
  background-color: red;
}

#water {
  border: 5px double blue;
  background-color: blue;
}

#earth {
  border: 6px groove green;
  background-color: green;
}

#fire , #water , #earth {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  margin: 10px;
}

#fire img , #water img , #earth img {
  width: 100%;
  height: 100%;
}

#btn-container {
  display: inline-block;
  width: 70px;
  text-align: center;
  vertical-align: top;
}

#box-main {
  vertical-align: middle;
  background: rgba(0 , 0 , 0 , 0.7);
  width: 600px;
  height: 400px;
  padding: 10px;
  margin: auto;
}

.bloco-memes {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 2px solid black;
}

#imagens-container {
  text-align: center;
  background: rgba(0 , 0 , 0 , 0.7);
  width: 600px;
  margin: auto;
  padding: 10px 10px 5px;
  margin-bottom: 20px;
}
