/* zerando margins e paddings padrao do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 600;

  /* Adicionar estilo de fonte */
}

input , button , select , textarea {
  border-radius: 8px;
  border: 1px solid black;
  background-color: white;
}

/* estilizacao do header */
.header {
  display: flex;
  padding: 10px;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 50px;
}

.trybewarts-header-logo {
  width: 70px;
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input , button {
  padding: 5px;
  margin-left: 8px;
}

.trybewarts-login button {
  padding: 0 40px;
}

/* Estilizacao evaluation-form */
main {
  display: flex;
  align-items: center;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

main form {
  display: flex;
  flex-direction: column;
  max-width: 675px;
  min-width: 675px;
  margin: 30px 70px 60px;
}

/* estilizacao da imagem lateral da página */
.imagem-logo {
  display: flex;
  justify-content: center;
  flex-basis: 50%;
}

.imagem-logo img {
  height: 500px;
}

/* Estilizacao dos inputs nome e sobrenome em linha */
.nome-sobrenome {
  display: flex;
  margin: 5px;
}

.nome-sobrenome #input-name , .nome-sobrenome #input-lastname {
  flex-basis: 50%;
  padding: 5px;
  margin: 0 2px;
}

/* estilização da linha entre inputs do formulário */
hr {
  width: 100%;
  border: 1px solid black;
  margin: 20px 0;
}

/* estilizando input email e select */
.box-house {
  align-items: center;
}

.email-house , .email-house .box-house {
  display: flex;
}

.email-house {
  margin: 5px;
}

.email-house #input-email , .email-house .box-house {
  flex-basis: 50%;
  margin: 0 2px;
}

.box-house label {
  font-size: 20px;
}

#house {
  flex-basis: 100%;
  padding: 5px;
}

/* Estilizacao dos radio buttons em coluna */
.radio-family {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.radio-family div {
  margin: 10px 0;
}

.radio-rate {
  margin-bottom: 20px;
}

.radio-rate input {
  margin-left: 1px;
}

/* Estilizacao checkbox conteudo */
.family-conteudo , #conteudo {
  display: flex;
}

#conteudo {
  flex-wrap: wrap;
  flex-basis: 70%;
}

#conteudo div {
  margin: 0 40px;
}

/* Estilizacao textarea */
.box-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

/* Estilizacao do footer */
footer {
  height: 30px;
  background-color: rgb(44, 43, 43);
  color: white;
  text-align: center;
  padding-top: 5px;
}
