.pokemon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    margin: 8px;    
    flex-basis: 40%;    
    padding: 5px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 162.16px;
}